@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background-color: rgb(14,26,45);
  margin: 0;
}

h1 {
  color: rgb(240, 245, 255);
  font-size: 70px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-left: 5rem;
}

p {
  color: rgb(240, 245, 255);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-left: 5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nextjs-portal {
  display: none;
}
